<div id="auth__layout" class="container-fluid">
    <div class="auth__router">
        <div class="auth__content">
            <router-outlet></router-outlet>
        </div>
    </div>
</div>
<!-- 
<div class="modal-info">
    <div class="modal-header">
        <div class="icon">
            <img style="width: 40px;" src="./../../../assets/icons/atention.svg" alt="">
        </div>
    </div>
    <div class="modal-body">
        <div class="accordion" id="accordion-info-1link">
            <div class="accordion-item">
                <h2 class="accordion-header" id="headingOne">
                    <button class="accordion-button" type="button" data-bs-toggle="collapse"
                        data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                        ¿Qué es 1Link:) ?
                    </button>
                </h2>
                <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne"
                    data-bs-parent="#accordion-info-1link">
                    <div class="accordion-body">
                        <span>1Link:) es una herramienta que te permite crear una página web simple que agrupa todos los
                            enlaces que
                            deseas
                            compartir en un solo lugar.</span>
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header" id="headingTwo">
                    <button class="accordion-button" type="button" data-bs-toggle="collapse"
                        data-bs-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
                        ¿Cómo uso 1Link:)?
                    </button>
                </h2>
                <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo"
                    data-bs-parent="#accordion-info-1link">
                    <div class="accordion-body">
                        <span>Para usar 1Link:), primero debes crear una cuenta. Una vez que hayas creado tu cuenta,
                            puedes agregar
                            enlaces a tu página de 1Link:) y personalizar la apariencia de tu página.</span>
                    </div>
                </div>
                <h2 class="accordion-header" id="headingFor">
                    <button class="accordion-button" type="button" data-bs-toggle="collapse"
                        data-bs-target="#collapseFor" aria-expanded="true" aria-controls="collapseFor">
                        ¿Puedo usar 1Link:) para promocionar mi negocio?
                    </button>
                </h2>
                <div id="collapseFor" class="accordion-collapse collapse" aria-labelledby="headingFor"
                    data-bs-parent="#accordion-info-1link">
                    <div class="accordion-body">
                        <span>Sí, 1Link:) es una excelente herramienta para promocionar tu negocio. Puedes agregar
                            enlaces a tus
                            productos o servicios, así como a tus redes sociales y otras plataformas de
                            marketing.</span>
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header" id="headingThree">
                    <button class="accordion-button" type="button" data-bs-toggle="collapse"
                        data-bs-target="#collapseThree" aria-expanded="true" aria-controls="collapseThree">
                        ¿Necesito conocimientos de programación para usar 1Link:)?
                    </button>
                </h2>
                <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree"
                    data-bs-parent="#accordion-info-1link">
                    <div class="accordion-body">
                        <span>No, no necesitas conocimientos de programación para usar 1Link:). La herramienta es muy
                            fácil de usar
                            y no requiere habilidades técnicas avanzadas.</span>
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header" id="headingFive">
                    <button class="accordion-button" type="button" data-bs-toggle="collapse"
                        data-bs-target="#collapseFive" aria-expanded="true" aria-controls="collapseFive">
                        ¿Cuánto cuesta 1Link:) ?
                    </button>
                </h2>
                <div id="collapseFive" class="accordion-collapse collapse" aria-labelledby="headingFive"
                    data-bs-parent="#accordion-info-1link">
                    <div class="accordion-body">
                        <span>Hay una versión gratuita de 1Link:) que ofrece funciones básicas. Si deseas acceder a
                            funciones más
                            avanzadas, como la personalización de marca y la integración de análisis, puedes optar por
                            la versión
                            premium de 1Link:), que tiene un costo mensual.</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> -->