#recovery {
  .recovery__card {
    padding: 30px;
    border-radius: 10px;
    color: #455a64;
    width: 350px;

    .card__title {
      .card__title_header {
        font-size: 24px;
        color: #222;
      }
      .card__title_body {
        font-size: 14px;
      }
    }
    .card__form {
      .form__button {
        margin: 20px 0;
        position: relative;
        .form__img {
          position: absolute;
          left: 16px;
          bottom: 22px;
        }
      }
    }
    .card-member {
      margin-top: 10px;
      text-align: center;
      .text-recovery {
        font-size: 14px;
        line-height: 1;
        color: #222;
      }
    }
  }
}

input::placeholder {
  color: #222;
}
