<div id="recovery">
    <div class="recovery__card">
        <div class="card__title">
            <span class="card__title_header">Recupera tu cuenta</span> <br>
            <span class="card__title_body">Ingrese el correo electronico de su cuenta para recuperar su acceso</span>
        </div>
        <form class="card__form">
            <div class="form__button">
                <input class="btn__form" type="email" placeholder="Correo electronico" required />
                <img class="form__img" src="./../../../../assets/icons/mail.svg" alt="Email">
            </div>
            <button type="button" class="btn__primary">Enviar codigo</button>
        </form>
        <div class="card-member">
            <span class="text-recovery">Ya eres miembro?&nbsp;</span>
            <span class="text-recovery cp" routerLink="/auth/singIn">Iniciar sesión</span>
        </div>
    </div>
</div>